*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size: 62.5%;
  font-size: var(--font-size, 10px);
}

html {
  font-size: 100%;
}

body {
  font: 400 1rem/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

fieldset {
  border: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

select {
  -webkit-appearance: none;
  appearance: none;
}
